body{
    background-image: linear-gradient(to bottom right, red, yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.centrao{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.centro{
    display: flex;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    background-color: cadetblue;
    height: 70%;
    width: 260px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.topo  {
    background-color: blueviolet;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    position: relative;
}

.texto{
    margin-bottom: 20px;
}

.addinput{

}

ul{
    list-style-type: none;
   overflow-y: scroll;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    padding: 2px;
    
}

li{
    background-color:aliceblue;
   min-width: 100px;
   height: 40px;
   border-radius: 4px;
   display: flex;
   justify-content: space-between;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.12);
    margin:2px 3px;
    padding: 8px;
    align-items: center;

}

.cinza{
    background-color: gray;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    height: 50px;
    text-align:  center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

li:hover{
    cursor: move;
}

p{
    width: 39px;
    color: brown;
    height: 16px;
    text-align: center;
    font-size: 12px;
}

p:hover{
    color: red;
    border-radius: 50%;
    cursor: pointer; background-color: rgba(191, 130, 130, 0.182);
}


.cor{
    width: 20px;
    position: absolute;
    right: 10px;
    height: 20px;
    background-color: transparent;
    border: transparent;
}

.mudar-cor{
    position: absolute;
    right: 33px;
    width: 22px;
    height: 17px;
    margin-top: 0.5px;
}